{% extends "shop/layout.html" %}
{% load static %}


{% block title %}main page{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static "shop/index.css" %}">
{% endblock head %}


{% block body %}
    <!-- блок с продуктами -->
    {% if products_querry_set %}
        <div class="products_block">
            <!-- блок отдельного продукта -->
            {% for product in products_querry_set %}
            <div class="product" onclick="redirectToPage('{% url "inspect" id=product.id %}')">
                <!-- проверка на то переданна фотоаграфия или нет -->
                {% if not product.main_photo %}
                    <img class="product_photo" src="{% static "shop/pics/no_image_available.jpg" %}" alt="">
                {% else %}
                    {% if product.main_photo_webp %}
                        <img class="product_photo" src="{{ media_url }}{{ product.main_photo_webp }}" alt="">
                    {% else %}
                        <img class="product_photo" src="{{ media_url }}{{ product.main_photo }}" alt="">
                    {% endif %}
                {% endif %}

                <h2 class="product_price_tag">{{ product.price }}₽</h2>
                <h3 class="product_name_tag">{{ product.name }}</h3>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="nothing_found">
            <h2>Упс! Мы ничего не нашли по вашему запросу...</h2>
            <img class="nothing_found_image" src="{% static "shop/pics/not_found.svg" %}" alt="">
        </div>
    {% endif %}
    
    
    <!-- подключаю основной js скрипт -->
    <script src="{% static "shop/index.js" %}"></script>
{% endblock body %}

