{% extends "shop/layout.html" %}
{% load static %}


{% block title %}main page{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static "shop/index.css" %}">
{% endblock head %}

{% block body %}
    <div class="content-1">
        <a id="slider-link" href="https://example.com/1" target="_blank">
            <img src="{% static "shop/pics/base_shirts/shirt1.jpeg" %}" alt="Фото" id="slider-image">
        </a>
    </div>
    <script src="{% static "shop/index.js" %}" ></script>
{% endblock body %}

