{% extends "shop/layout.html" %}
{% load static %}


{% block title %}main page{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static "shop/index.css" %}">
{% endblock head %}


{% block body %}
    <!-- блок с продуктами -->
    <div class="products_block">
        <!-- блок отдельного продукта -->
        {% for product in products_querry_set %}
        <div class="product" onclick="redirectToPage('{% url "inspect" id=product.id %}')">
            <img class="product_photo" src="{{ media_url }}{{ product.main_photo }}" alt="">
            <h2 class="product_price_tag">{{ product.price }}₽</h2>
            <h3 class="product_name_tag">{{ product.name }}</h3>
        </div>
        {% endfor %}
    </div>
    
    <!-- подключаю основной js скрипт -->
    <script src="{% static "shop/index.js" %}"></script>
{% endblock body %}

