{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- даем возможность указывать тайтл у наследователей шаблона -->
    <title>{% block title %}{% endblock title %}</title>
    
    <!-- ссылка на основной стиль layout страницы -->
    <link rel="stylesheet" href="{% static 'shop/layout.css' %}">
    
    <!-- ссылка на икноку -->
    <link rel="shortcut icon" href="{% static 'shop/pics/icon.ico' %}" type="image/x-icon">
    
    {% block head %}{% endblock head %}
</head>
<body>
    <!-- верхняя панель -->
    <header>
        <!-- блок с икнокной катгории через который вызвается окно выбора категории-->
        <div class="category_bar" id="category_icon_div">
            <img  class="category_icon" id="category_icon" src="{% static "shop/pics/category_icon.svg" %}" alt="category pick" onclick="toggleCategories()">
            <!-- функция для смены икноки категории -->
            <script>
                function changeCategoryIcon() {
                  const img = document.getElementById("category_icon");
                  const first_src = '{% static "shop/pics/cross_icon.svg" %}';
                  const second_src = '{% static "shop/pics/category_icon.svg" %}';
              
                  if (img.src.endsWith("cross_icon.svg")) {
                    img.src = second_src;
                  } else {
                    img.src = first_src;
                  }
                }
              </script>              
            <!-- меню категорий / изначально скрыто -->
            <div class="categories" id="categories">  
                
                
                <!-- выбор категори -->
                <ul class="categories_pick">
                    {% for category in categories %}
                        <li>
                            <p class="parent_category_name"
                               {% if category.get_children %}
                                   onclick="toggleChildren(event)"
                                   data-category-id="{{ category.id }}"
                               {% else %}
                                   onclick="redirectToProductsPageByCategory({{ category.id }})"
                               {% endif %}
                            >
                                {{ category.name }}
                            </p>
                
                            {% if category.get_children %}
                                <ul class="child_categories hidden" data-parent-id="{{ category.id }}">
                                    {% for child in category.get_children %}
                                        <p class="child_category_name"
                                           onclick="redirectToProductsPageByCategory({{ child.id }})">
                                            {{ child.name }}
                                        </p>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                
                
            </div>
        </div>
        <!-- блок для поиска по продтукам -->
        <div class="search_bar">
            <img  class="search_icon" src="{% static "shop/pics/search_icon.svg" %}" alt="search">
            <!-- фактический инпут для реализовки поиска-->
            <input type="text" name="search_field" id="search_field" placeholder="Я ищу..">
        </div>
        <!-- блок с икнокой соритировки через котрый вызывается окно выбора категории -->
        <!-- делаем возможность убирать блок если на странице нету сортировки -->
        {% if show_sort_bar %}
        <div class="sort_bar" id="sort_icon_div">
            <img class="sort_icon" src="{% static "shop/pics/sort_icon.svg" %}" alt="sort_pick" onclick="toggleSort()">
            <!-- меню сортировок / изначально скрыто -->
            <div class="sortings" id="sortings"> 
                <div class="sortings_header">
                    <div class="last_sort" data-sort="created_at" onclick="redirectToProductsPageBySort('created_at')">Последнее</div>
                    <img class="cross_sortings_menu_icon" src="{% static "shop/pics/cross_icon.svg" %}" alt="" onclick="toggleSort()">
                </div>
                <div class="from_expensive_to_cheap_sort" onclick="redirectToProductsPageBySort('-price')">От дорогого к дешевому</div>
                <div class="from_cheap_to_expensive_sort" onclick="redirectToProductsPageBySort('price')">От дешевого к дорогому</div>
            </div>
        </div>
        {% else %} 
            <div class="main_page_bar" onclick="redirectToPage('{% url "main" %}')">
                <img class="main_page_icon" src="{% static "shop/pics/icon.ico" %}" alt="return to home page" >
            </div>
            {% endif %}
    </header>
    
    
    

    
    <!-- основное тело шаблона которое будет уже прописываться в конкретном файле -->
    <!-- так же отдельный тег для отдельного задания ей стилей -->
    <layoutbody>{% block body %}{% endblock body %}</layoutbody>

    
    <hr class="footer-separator">

    <!-- футер с различной информации о сайте -->
    <footer class="mobile-footer">
        <img class="footer-icon" src="{% static "shop/pics/icon.ico" %}" alt="">
        <p class="footer-contact">Email: support@zipwear.store</p>
        <p class="footer-contact">Тел: +7-555-123-456</p>
        <p class="footer-contact">
        Telegramm: <a href="https://t.me/@void_shop" target="_blank">@void_shop</a>
        </p>
        <p class="footer-bottom">&copy; 2025 Void shop</p>
    </footer>

    <!-- подключаем js для кнопок и другой логики через статику -->
    <script src="{% static "shop/layout.js" %}"></script>
      
</body>
</html>
