#slider-link {
    display: flex;
    width: 80vw;
    height: 80vw;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    margin-top: 3vh;
}
  
#slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

.content-1 {
    display: flex;
    justify-content: center;  /* по горизонтали */
    align-items: center;
}

.products_block {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 2vw;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.product {
    width: 44vw;
    border-radius: 15px;
    height: 35vh;
    position: relative;
    margin-top: 5vw;

}

.product_photo {
    width: 100%;
    height: 85%;
    border-radius: 15px;
    object-fit: cover;
}

.product_price_tag {
    margin: 0;
    color: rgb(203, 215, 215);
    margin-block: 0;
    padding: 0;
}

.product_name_tag {
    margin: 0;
    color: rgb(147, 149, 149);;
}