


* {
    box-sizing: border-box;
}

.products_block {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 2vw;
    box-sizing: border-box;
    flex-wrap: wrap;
    color: #fff;
}

.product {
    width: 43vw;
    height: 57vw;
    position: relative;
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    overflow:hidden;
}

.product_photo {
    width: 100%;
    flex-grow: 1;
    border-radius: 15px;
    object-fit: cover;
    min-height: 30%;
    object-position: top;
}




.product_price_tag {
    margin: 0;
    margin-block: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-size: medium;
    font-family: var(--font-1);
    font-weight: 800; 
    opacity: var(--opacity-high);
}

.product_name_tag {
    font-size: 16px;
    margin: 0;
    
    color: rgb(255, 255, 255);
    line-height: 1;
    opacity: var(--opacity-low);
    font-weight: 600;
    
}

.nothing_found {
    width: 96vw;
    max-width: 600px;
    margin: 10px auto; /* центрирует блок по горизонтали */
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;

}

.nothing_found h2 {
    left: 7.5%;
    position: relative;
    width: 85%;
    font-size: 24px;
    padding-top: 0;
    color: var(--text-color-dim);
    margin-bottom: 20px;
}

.nothing_found_image {
    width: 45%;
    max-width: 300px;
    height: auto;
    opacity: 0.8;
    transition: transform 0.3s ease;
}

.nothing_found_image:hover {
    transform: scale(1.05);
    opacity: 1;
}
