.swiper {
  width: 90vw;
  height: 90vw;
  border-radius: 15px;
  margin-block: 0;
  
}

.name_tag {
  font-size: 40px;
  color: white;
  margin-block: 0;
  margin: 2.3vh;
  margin-top: 1.5vh;
  font-weight: bolder;
  line-height: 1;
  opacity:  var(--opacity-high);
  
}



.price_tag {
  color: rgb(255, 255, 255);
  margin-block: 0 !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  width: fit-content;
  text-align: left !important;
  position: relative;
  font-family: var(--font-1);
  font-weight: 800;
  font-size: 170%;
  left: 3vw;
  line-height: 100%;
  letter-spacing: 0%; 
  opacity: var(--opacity-high);
  
}

layoutbody {
  text-align: center;
}

.slider_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}




.size-picker input[type="radio"] {
  display: none;
}

.swiper-pagination {
  font-size: x-large;
  font-weight: 900;
  text-align: left !important;
  position: absolute;
  left: 5px !important;
  top: 5px !important;
  background-color: #8686868f;
  border-radius: 20px;
  height: fit-content !important; 
  width: fit-content !important;
  padding: 4px !important;
  line-height: 1.1;

}
.size-picker {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 2%;
}

.size-picker input[type="radio"] {
  display: none;
}

.size-picker label,
.size-picker .size-label_unavailable {
  background-color: #222;
  color: #eee;
  width: 60px; /* фиксированная ширина */
  height: 60px; /* фиксированная высота */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 2px solid #666;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 0.2s ease;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  line-height: 1;
  opacity: var(--opacity-high);
}

.size-picker input[type="radio"]:checked + label {
  background-color: var(--text-color-dim);
  color: #111;
  border-color: #fff;
}

.size-picker .size-label_unavailable {
  cursor: not-allowed;
  opacity: 0.6;
}

.overlay-cross {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.3;
  object-fit: cover;
}


.contact_seller_container {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}

.contact_seller_button {
  background-color: #202020;
  color: white;
  border: white 2px solid;
  opacity: var(--opacity-mid);
  width: 90%;
  position: relative;
  font-size: xx-large;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
  padding-bottom: 5%;
  padding-top: 4%;
  margin-top: 10px;

}

.contact_seller_button:hover {
  background-color: #ffffff24;
}


.size_pick_warning {
  color: red;
  text-align: center;
  display: none;
  margin: 10px;
}